.react-calendar {
  border: 0;
  border-radius: 10px;
}
.react-calendar__month-view__weekdays {
  margin-bottom: 5px;
}
.react-calendar__tile {
  height: 50px;
}
.react-calendar__month-view__days__day.not-complete{
  background-color: #E55666;
  border-radius: 50%;
}
.react-calendar__month-view__days__day.complete{
  background-color: #8CC654;
  border-radius: 50%;
}
